services:
  frontend:
    build: ./frontend
    container_name: mf_frontend
    depends_on:
      - backend
    
  backend:
    build: ./backend
    container_name: mf_backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    image: postgres:14-alpine
    container_name: mf_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "127.0.0.1:5432:5432"
volumes:
  postgres_data: